* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ccff00;
    --secondary-color: #1c1c1c;
    --tertiary-color: #b1b1b1;
    --text-color-light: #f9f9f9;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
}

body {
    background-color: #1c1c1c;
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

main {
    display: flex;
    flex-grow: 1;
    max-width: 100%;
}

.index-banner {
    background-image: url("../img/Compre\ bem\,\ Viva\ bem.svg");
    background-size: contain;
    background-repeat: no-repeat;
}