* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ccff00;
    --secondary-color: #1c1c1c;
    --text-color-light: #f9f9f9;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
}

body {
    background-color: #f0f0f0;
    font-family: "Oswald", sans-serif;
}